<html>
<meta charset="UTF-8">
<head>
    <title>Az 104 test</title>
</head>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
<style>
    body {
        background-color: #E4E7ED;
    }
</style>
<body>
<div id="app">
    <el-row>
        <h2 style="text-align: center">Az 104 test</h2>
    </el-row>
    <el-row>
        <el-col :span="12" :offset="6">
            <h1>Settings</h1>
            <el-switch v-model="showOnlyNeedReview"
                       active-text="Show only need review"
                       inactive-text="Show all"></el-switch>
        </el-col>
        <el-col :span="12" :offset="6">
            <h1>Questions</h1>
            <div v-for="(question, qIndex) in questions">
                <template v-if="!showOnlyNeedReview || question.needReview">
                    <span :style="convertQuestionNameStypequestion(question.answerResult)">{{ question.name }}</span>
                    <br>
                    <el-switch v-model="question.needReview"
                               active-text="Need review"
                               inactive-text="No need review"
                               @change="needReviewChanged(question)"></el-switch>
                    <br>
                    <br>
                    </el-switch>
                    <template v-if="question.type === 'single'">
                        <div v-for="option in question.optionCount" :key="option">
                            <input @change="singleAnswerSelected(question)" type="radio" :value="option"
                                   v-model="question.selectedAnswer">
                            <label>{{ optionDisplay(option) }}</label>
                        </div>
                    </template>
                    <template v-else-if="question.type === 'orderSelect'">
                        <div v-for="option in question.optionCount" :key="option">
                            <input @change="orderSelectAnswerSelected(question)" type="checkbox" :value="option"
                                   v-model="question.selectedAnswer">
                            <label>{{ optionDisplay(option) }}</label>
                        </div>
                    </template>
                    <template v-else-if="question.type === 'multiSelect'">
                        <div v-for="option in question.optionCount" :key="option">
                            <input @change="multiSelectAnswerSelected(question)" type="checkbox" :value="option"
                                   v-model="question.selectedAnswer">
                            <label>{{ optionDisplay(option) }}</label>
                        </div>
                    </template>
                    <br>
                </template>
            </div>
        </el-col>
    </el-row>
</div>
<script src="plugins/vue.js"></script>
<script src="plugins/element.min.js"></script>
<script type="text/javascript">
    class Question {
        constructor(name, type, answer, optionCount = null) {
            this.name = name
            // single, multiSelect, orderSelect
            this.type = type
            // unselect, correct, wrong
            this.answer = answer
            // defalut count = 4
            this.optionCount = optionCount ?? 4

            this.selectedAnswer = name === 'single' ? null : []
            this.answerResult = 'unselect'
            this.needReview = false
        }
    }

    new Vue({
        el: '#app',
        data() {
            let needReview = JSON.parse(localStorage.getItem('az104needReview'));
            if (!needReview) {
                needReview = {};
            }

            return {
                showOnlyNeedReview: false,
                needReview: needReview,
                questions: [
                    new Question('1-1', 'single', 'C'),
                    new Question('1-2', 'single', 'B', 2),
                    new Question('1-3', 'single', 'B', 2),
                    new Question('1-4', 'single', 'A', 2),
                    new Question('1-5', 'single', 'D'),
                    new Question('1-6', 'single', 'B', 2),
                    new Question('1-7', 'single', 'B', 2),
                    new Question('1-8', 'single', 'B', 2),
                    new Question('1-9', 'single', 'B', 2),
                    new Question('1-10', 'single', 'B', 2),
                    new Question('1-11', 'single', 'B', 2),
                    new Question('1-12', 'single', 'B'),
                    new Question('1-13', 'single', 'B', 2),
                    new Question('1-14', 'single', 'A', 2),
                    new Question('1-15', 'single', 'B', 2),
                    new Question('1-16', 'single', 'C'),
                    new Question('1-17', 'single', 'C'),
                    new Question('1-18', 'single', 'D'),
                    new Question('1-19', 'single', 'B'),
                    new Question('1-20', 'multiSelect', [1, 4], 6),
                    new Question('1-21', 'single', 'A'),
                    new Question('1-22', 'single', 'B'),
                    new Question('1-23', 'multiSelect', [1, 3, 5], 6),
                    new Question('1-24', 'single', 'B', 2),
                    new Question('1-25', 'single', 'B', 2),
                    new Question('1-26', 'single', 'A', 2),
                    new Question('1-27', 'single', 'C', 5),
                    new Question('1-28', 'single', 'B', 2),
                    new Question('1-29', 'single', 'B', 2),
                    new Question('1-30', 'single', 'A', 2),
                    new Question('1-31', 'single', 'E', 5),
                    new Question('1-32', 'single', 'A'),
                    new Question('1-33', 'single', 'D'),
                    new Question('1-34', 'single', 'B'),
                    new Question('1-35', 'single', 'C'),
                    new Question('1-36', 'single', 'B'),
                    new Question('1-37', 'multiSelect', [1, 2, 3, 4, 5], 5),
                    new Question('1-38', 'single', 'B', 2),
                    new Question('1-39', 'single', 'B', 2),
                    new Question('1-40', 'single', 'A', 2),
                    new Question('2-1-1', 'single', 'B'),
                    new Question('2-1-2', 'single', 'B'),
                    new Question('2-2', 'single', 'B'),
                    new Question('2-3', 'multiSelect', ['A', 'C'], 5),
                    new Question('2-4-1', 'single', 'N', 2),
                    new Question('2-4-2', 'single', 'N', 2),
                    new Question('2-4-3', 'single', 'Y', 2),
                    new Question('2-5-1', 'single', 'N', 2),
                    new Question('2-5-2', 'single', 'N', 2),
                    new Question('2-5-3', 'single', 'N', 2),
                    new Question('2-6', 'single', 'B'),
                    new Question('2-7-1', 'single', 'B', 5),
                    new Question('2-7-2', 'single', 'C'),
                    new Question('2-8', 'single', 'C'),
                    new Question('2-9', 'single', 'C'),
                    new Question('2-10', 'single', 'B', 3),

                    // 51-100

                    new Question('2-11', 'single', 'A'),
                    new Question('2-12', 'single', 'C'),
                    new Question('2-13', 'single', 'A'),
                    new Question('2-14-1', 'single', 'N', 2),
                    new Question('2-14-2', 'single', 'Y', 2),
                    new Question('2-14-3', 'single', 'N', 2),
                    new Question('2-15', 'single', 'C'),
                    new Question('2-16', 'single', 'B'),
                    new Question('2-17', 'single', 'A'),
                    new Question('2-18', 'single', 'B', 2),
                    new Question('2-19', 'single', 'B', 2),
                    new Question('2-20', 'single', 'A', 2),
                    new Question('2-21', 'multiSelect', [2, 4, 3], 5),
                    new Question('2-22', 'single', 'B'),
                    new Question('2-23-1', 'single', 'Y', 2),
                    new Question('2-23-2', 'single', 'Y', 2),
                    new Question('2-23-3', 'single', 'N', 2),
                    new Question('2-24', 'single', 'A'),
                    new Question('2-25-1', 'single', 'B', 3),
                    new Question('2-25-2', 'single', 'A', 3),
                    new Question('2-26', 'multiSelect', ['A', 'E'], 5),
                    new Question('2-27', 'single', 'B'),
                    new Question('2-28-1', 'multiSelect', [1, 2], 3),
                    new Question('2-28-2', 'multiSelect', [1], 2),
                    new Question('2-29', 'single', 'A'),
                    new Question('2-30', 'single', 'C'),
                    new Question('2-31-1', 'single', 1, 7),
                    new Question('2-31-2', 'single', 4, 7),
                    new Question('2-32-1', 'single', 3),
                    new Question('2-32-2', 'single', 4),
                    new Question('2-33', 'single', 'A', 2),
                    new Question('2-34', 'single', 'A', 2),
                    new Question('2-35', 'single', 'B', 2),
                    new Question('2-36', 'single', 'C'),
                    new Question('2-37-1', 'single', 'Y', 2),
                    new Question('2-37-2', 'single', 'Y', 2),
                    new Question('2-37-3', 'single', 'N', 2),
                    new Question('2-38', 'single', 'A'),
                    new Question('2-39', 'single', 'B'),
                    new Question('2-40', 'single', 'A'),
                    new Question('2-41', 'orderSelect', [1, 5, 6], 6),
                    new Question('2-42', 'single', 'B'),
                    new Question('2-43', 'single', 'D'),
                    new Question('2-44-1', 'single', 'Y', 2),
                    new Question('2-44-2', 'single', 'N', 2),
                    new Question('2-44-3', 'single', 'Y', 2),
                    new Question('2-45-1', 'single', 3, 5),
                    new Question('2-45-2', 'single', 1, 6),
                    new Question('2-46-1', 'single', 3, 5),
                    new Question('2-46-2', 'single', 3, 5),
                    new Question('2-47', 'single', 'B'),
                    new Question('2-48-1', 'single', 'N', 2),
                    new Question('2-48-2', 'single', 'N', 2),
                    new Question('2-48-3', 'single', 'N', 2),
                    new Question('2-49', 'single', 'B', 2),
                    new Question('2-50', 'single', 'B'),
                    new Question('2-51', 'single', 'A', 2),
                    new Question('2-52-1', 'single', 3, 3),
                    new Question('2-52-2', 'single', 1, 3),
                    new Question('2-53', 'single', 'B'),
                    new Question('2-54-1', 'single', 4, 6),
                    new Question('2-54-2', 'single', 6, 6),
                    new Question('2-55', 'single', 'A'),
                    new Question('2-56', 'single', 'B'),
                    new Question('2-57-1', 'single', 'D', 5),
                    new Question('2-57-2', 'single', 'D', 5),
                    new Question('2-58', 'single', 'A', 2),
                    new Question('2-59', 'single', 'B', 2),
                    new Question('2-60', 'single', 'B', 2),

                    // 101-150

                    new Question('2-61', 'single', 'A'),
                    new Question('2-62', 'multiSelect', ['B', 'D'], 5),
                    new Question('2-63', 'single', 'B'),
                    new Question('2-64', 'single', 'C'),
                    new Question('2-65', 'single', 'B', 2),
                    new Question('2-66-1', 'single', 3, 5),
                    new Question('2-66-2', 'single', 1, 5),
                    new Question('2-67-1', 'single', 3),
                    new Question('2-67-2', 'single', 1),
                    new Question('2-68', 'single', 'B', 3),
                    new Question('2-69', 'single', 'B'),
                    new Question('2-70-1', 'single', 'N', 2),
                    new Question('2-70-2', 'single', 'N', 2),
                    new Question('2-70-3', 'single', 'Y', 2),
                    new Question('2-71', 'single', 'C'),
                    new Question('2-72-1', 'single', 'N', 2),
                    new Question('2-72-2', 'single', 'N', 2),
                    new Question('2-72-3', 'single', 'Y', 2),
                    new Question('2-73', 'single', 'B'),
                    new Question('2-74', 'single', 'B'),
                    new Question('2-75-1', 'single', 'Y', 2),
                    new Question('2-75-2', 'single', 'N', 2),
                    new Question('2-75-3', 'single', 'Y', 2),
                    new Question('2-76', 'single', 'B'),
                    new Question('2-77-1', 'single', 'Y', 2),
                    new Question('2-77-2', 'single', 'Y', 2),
                    new Question('2-77-3', 'single', 'N', 2),
                    new Question('2-78', 'single', 'D'),
                    new Question('2-79', 'single', 'B'),
                    new Question('2-80', 'single', 'Y', 2),
                    new Question('2-80-1', 'single', 'N', 2),
                    new Question('2-80-2', 'single', 'N', 2),
                    new Question('2-81-1', 'single', 'C'),
                    new Question('2-81-2', 'single', 'D'),
                    new Question('2-82', 'single', 'B', 2),
                    new Question('2-83', 'single', 'A', 2),
                    new Question('2-84', 'single', 'C'),
                    new Question('2-85', 'single', 'D'),
                    new Question('2-86-1', 'single', 3, 3),
                    new Question('2-86-2', 'single', 2, 3),
                    new Question('2-87', 'single', 'Identities'),
                    new Question('2-88', 'single', 'C'),
                    new Question('2-89', 'single', 'C'),
                    new Question('2-90', 'single', 'B'),
                    new Question('2-91-1', 'single', 'C'),
                    new Question('2-91-2', 'single', 'A', 3),
                    new Question('2-91-3', 'single', 'B'),
                    new Question('2-92', 'multiSelect', [1, 2], 8),
                    new Question('2-93-1', 'single', 'N', 2),
                    new Question('2-93-2', 'single', 'N', 2),
                    new Question('2-93-3', 'single', 'Y', 2),
                    new Question('2-94', 'single', 'B', 2),
                    new Question('2-95-1', 'single', 'N', 2),
                    new Question('2-95-2', 'single', 'N', 2),
                    new Question('2-95-3', 'single', 'Y', 2),
                    new Question('2-96 (duplicate)', 'single', 'B'),
                    new Question('2-97 (duplicate)', 'single', 'B'),
                    new Question('2-98 (duplicate)', 'single', 'B'),
                    new Question('2-99', 'single', 'C'),
                    new Question('3-1', 'single', 'D'),
                    new Question('3-2-1', 'single', 4, 5),
                    new Question('3-2-2', 'single', 4),
                    new Question('3-3', 'single', 'B'),
                    new Question('3-4-1', 'single', 3),
                    new Question('3-4-2', 'single', 4),
                    new Question('3-5-1', 'single', 3, 3),
                    new Question('3-5-2', 'single', 1),
                    new Question('3-6', 'multiSelect', ['B', 'C', 'E'], 5),
                    new Question('3-7-1', 'single', 'Y', 2),
                    new Question('3-7-2', 'single', 'N', 2),
                    new Question('3-7-3', 'single', 'N', 2),
                    new Question('3-8', 'orderSelect', [3, 2, 4, 1]),
                    new Question('3-9-1', 'single', 'N', 2),
                    new Question('3-9-2', 'single', 'Y', 2),
                    new Question('3-9-3', 'single', 'Y', 2),
                    new Question('3-10', 'multiSelect', [2, 7, 6], 8),
                    new Question('3-11-1', 'single', 1, 3),
                    new Question('3-11-2', 'single', 1, 6),

                    //  151-200
                    new Question('3-12-1', 'single', 1),
                    new Question('3-12-2', 'single', 4),
                    new Question('3-13-1', 'single', 3, 3),
                    new Question('3-13-2', 'single', 3, 3),
                    new Question('3-14-1', 'single', 'N', 2),
                    new Question('3-14-2', 'single', 'N', 2),
                    new Question('3-14-3', 'single', 'Y', 2),
                    new Question('3-15', 'single', 'B'),
                    new Question('3-16', 'multiSelect', ['A', 'C']),
                    new Question('3-17', 'orderSelect', [1, 4, 5], 6),
                    new Question('3-18-1', 'single', 4),
                    new Question('3-18-2', 'single', 3, 3),
                    new Question('3-19', 'multiSelect', ['B', 'E'], 5),
                    new Question('3-20', 'single', 'D'),
                    new Question('3-21-1', 'single', 1, 5),
                    new Question('3-21-2', 'single', 2, 5),
                    new Question('3-22', 'single', 'C'),
                    new Question('3-23-1', 'single', 3),
                    new Question('3-23-2', 'single', 1),
                    new Question('3-24', 'single', 'B'),
                    new Question('3-25-1', 'single', 4, 5),
                    new Question('3-25-2', 'single', 2, 5),
                    new Question('3-26', 'single', 'A'),
                    new Question('3-27', 'single', 'D'),
                    new Question('3-28 (duplicate)', 'single', 'B'),
                    new Question('3-29-1', 'single', 'A'),
                    new Question('3-29-2', 'single', 'C'),
                    new Question('3-30-1', 'single', 'N', 2),
                    new Question('3-30-2', 'single', 'Y', 2),
                    new Question('3-30-3', 'single', 'N', 2),
                    new Question('3-31-1', 'single', 3),
                    new Question('3-31-2', 'single', 4),
                    new Question('3-32-1', 'single', 2, 5),
                    new Question('3-32-2', 'single', 2, 5),
                    new Question('3-33-1', 'single', 2),
                    new Question('3-33-2', 'single', 2),
                    new Question('3-34', 'single', 'A'),
                    new Question('3-35', 'single', 'C'),
                    new Question('3-36', 'single', 'D'),
                    new Question('3-37', 'single', 'C'),
                    new Question('3-38', 'single', 'A'),
                    new Question('3-39-1', 'single', 'Y', 2),
                    new Question('3-39-2', 'single', 'Y', 2),
                    new Question('3-39-3', 'single', 'N', 2),
                    new Question('3-40', 'single', 'B'),
                    new Question('3-41', 'single', 'B'),
                    new Question('3-42-1', 'single', 'N', 2),
                    new Question('3-42-2', 'single', 'Y', 2),
                    new Question('3-42-3', 'single', 'Y', 2),
                    new Question('3-43', 'multiSelect', ['B', 'C']),
                    new Question('3-44-1', 'single', 3),
                    new Question('3-44-2', 'single', 1),
                    new Question('3-45', 'single', 'C'),
                    new Question('3-46', 'single', 'A'),
                    new Question('3-47-1', 'single', 4),
                    new Question('3-47-2', 'single', 4),
                    new Question('3-48', 'single', 'D'),
                    new Question('3-49-1', 'single', 'N', 2),
                    new Question('3-49-2', 'single', 'N', 2),
                    new Question('3-49-3', 'single', 'N', 2),
                    new Question('3-50-1', 'single', 'N', 2),
                    new Question('3-50-2', 'single', 'N', 2),
                    new Question('3-50-3', 'single', 'Y', 2),
                    new Question('3-51 (duplicate)', 'single', 'C'),
                    new Question('3-52-1', 'single', 'B', 3),
                    new Question('3-52-2', 'single', 'C', 3),
                    new Question('3-53', 'orderSelect', [5, 2, 3], 5),
                    new Question('3-54', 'single', 'B'),
                    new Question('3-55', 'single', 'D'),
                    new Question('3-56', 'multiSelect', [3, 16], 20),
                    new Question('3-57', 'single', 5, 5),
                    new Question('3-58-1', 'single', 1, 5),
                    new Question('3-58-2', 'single', 1, 5),
                    new Question('3-59-1', 'single', 3, 5),
                    new Question('3-59-2', 'single', 2, 5),
                    new Question('3-60', 'single', 'A'),
                    new Question('3-61', 'single', 'D'),

                    // 201-250

                    new Question('3-62-1', 'single', 5, 5),
                    new Question('3-62-2', 'single', 2, 5),
                    new Question('3-63', 'single', 'C'),
                    new Question('3-64-1', 'single', 'C', 3),
                    new Question('3-64-2', 'single', 'B', 3),
                    new Question('3-65 (duplicate)', 'single', 'B'),
                    new Question('3-66', 'single', 'A'),
                    new Question('3-67 (duplicate)', 'single', 'B'),
                    new Question('3-68', 'single', 'E', 6),
                    new Question('3-69-1', 'single', 'N', 2),
                    new Question('3-69-2', 'single', 'Y', 2),
                    new Question('3-69-3', 'single', 'Y', 2),
                    new Question('3-70', 'single', 'C'),
                    new Question('3-71-1', 'single', 1, 5),
                    new Question('3-71-2', 'single', 3),
                    new Question('3-72-1', 'single', 3, 3),
                    new Question('3-72-2', 'single', 3),
                    new Question('3-73', 'single', 'A'),
                    new Question('3-74', 'single', 'B', 6),
                    new Question('3-75-1', 'single', 1, 3),
                    new Question('3-75-2', 'single', 2, 3),
                    new Question('3-76', 'single', 'C'),
                    new Question('3-77-1', 'single', 2),
                    new Question('3-77-2', 'single', 2, 3),
                    new Question('3-78', 'multiSelect', ['B', 'E'], 5),
                    new Question('3-79', 'single', 'C'),
                    new Question('3-80', 'multiSelect', [6, 7], 19),
                    new Question('3-81', 'single', 'B'),
                    new Question('3-82', 'multiSelect', ['B', 'C', 'E'], 5),
                    new Question('3-83-1', 'single', 'Y', 2),
                    new Question('3-83-2', 'single', 'N', 2),
                    new Question('3-83-3', 'single', 'N', 2),
                    new Question('3-84', 'single', 'B'),
                    new Question('3-85', 'single', 'D', 5),
                    new Question('3-86-1', 'single', 3),
                    new Question('3-86-2', 'single', 1),
                    new Question('3-87-1', 'single', 2, 3),
                    new Question('3-87-2', 'single', 2, 3),
                    new Question('3-88', 'multiSelect', [5, 6, 7], 19),
                    new Question('3-89-1', 'single', 'N', 2),
                    new Question('3-89-2', 'single', 'Y', 2),
                    new Question('3-89-3', 'single', 'N', 2),
                    new Question('4-1', 'single', 'B', 2),
                    new Question('4-2', 'single', 'A'),
                    new Question('4-3', 'single', 'B', 2),
                    new Question('4-4', 'single', 'B', 2),
                    new Question('4-5-1', 'single', 3),
                    new Question('4-5-2', 'single', 3),
                    new Question('4-6', 'single', 'A'),
                    new Question('4-7-1', 'single', 4, 5),
                    new Question('4-7-2', 'single', 1, 5),
                    new Question('4-8-1', 'single', 3, 5),
                    new Question('4-8-2', 'single', 1, 5),
                    new Question('4-9', 'multiSelect', [1, 4], 5),
                    new Question('4-10-1', 'single', 1),
                    new Question('4-10-2', 'single', 1),
                    new Question('4-11', 'orderSelect', [4, 3, 2], 5),
                    new Question('4-12', 'single', 'A', 3),
                    new Question('4-13', 'single', 'A'),
                    new Question('4-14', 'single', 'A'),
                    new Question('4-15', 'single', 'B', 2),
                    new Question('4-16', 'single', 'B', 2),
                    new Question('4-17', 'single', 'A', 2),
                    new Question('4-18', 'single', 'B', 2),
                    new Question('4-19', 'single', 'A'),
                    new Question('4-20', 'single', 'B', 2),
                    new Question('4-21', 'single', 'A', 2),
                    new Question('4-22', 'single', 'B', 2),

                    // 251-300
                    new Question('4-23-1', 'single', 'Y', 2),
                    new Question('4-23-2', 'single', 'N', 2),
                    new Question('4-23-3', 'single', 'N', 2),
                    new Question('4-24-1', 'single', 'A'),
                    new Question('4-24-2', 'single', 'B'),
                    new Question('4-25', 'single', 'A'),
                    new Question('4-26', 'single', 'B'),
                    new Question('4-27-1', 'single', 1, 3),
                    new Question('4-27-2', 'single', 2, 3),
                    new Question('4-28', 'single', 'C'),
                    new Question('4-29', 'multiSelect', ['A', 'D'], 5),
                    new Question('4-30', 'multiSelect', ['D', 'E', 'F'], 6),
                    new Question('4-31', 'single', 'D'),
                    new Question('4-32', 'single', 'B'),
                    new Question('4-33-1', 'single', 2, 3),
                    new Question('4-33-2', 'single', 2),
                    new Question('4-34', 'single', 'B', 2),
                    new Question('4-35', 'single', 'B', 2),
                    new Question('4-36', 'single', 'C', 5),
                    new Question('4-37-1', 'single', 'N', 2),
                    new Question('4-37-2', 'single', 'Y', 2),
                    new Question('4-37-3', 'single', 'Y', 2),
                    new Question('4-38-1', 'single', 'a', 3),
                    new Question('4-38-2', 'single', 'c'),
                    new Question('4-39-1', 'single', 5, 5),
                    new Question('4-39-2', 'single', 4, 5),
                    new Question('4-40', 'single', 'D', 5),
                    new Question('4-41', 'multiSelect', ['B', 'D'], 5),
                    new Question('4-42', 'single', 'A'),
                    new Question('4-43', 'single', 'A'),
                    new Question('4-44', 'single', 'B', 2),
                    new Question('4-45', 'single', 'B', 2),
                    new Question('4-46', 'single', 'A', 2),
                    new Question('4-47', 'single', 'B'),
                    new Question('4-48-1', 'single', 2),
                    new Question('4-48-2', 'single', 3),
                    new Question('4-49', 'single', 'C'),
                    new Question('4-50', 'single', 'D'),
                    new Question('4-51', 'single', 'B', 5),
                    new Question('4-52', 'single', 'B'),
                    new Question('4-53-1', 'single', 1, 3),
                    new Question('4-53-2', 'single', 2, 3),
                    new Question('4-54-1', 'single', 2, 5),
                    new Question('4-54-2', 'single', 4, 5),
                    new Question('4-55', 'single', 'C'),
                    new Question('4-56', 'single', 'C', 5),
                    new Question('4-57-1', 'single', 4),
                    new Question('4-57-2', 'single', 2),
                    new Question('4-58', 'single', 'B'),
                    new Question('4-59', 'single', 'B'),
                    new Question('4-60-1', 'single', 5, 5),
                    new Question('4-60-2', 'single', 2),
                    new Question('4-61', 'single', 'B'),
                    new Question('4-62', 'single', 'B', 2),
                    new Question('4-63-1', 'single', 4, 5),
                    new Question('4-63-2', 'single', 2, 5),
                    new Question('4-64', 'single', 'A', 2),
                    new Question('4-65-1', 'single', 2),
                    new Question('4-65-2', 'single', 1),
                    new Question('4-66', 'single', 'A'),
                    new Question('4-67', 'single', 'B'),
                    new Question('4-68-1', 'single', 'D'),
                    new Question('4-68-2', 'single', 'B'),
                    new Question('4-69', 'single', 'B', 2),
                    new Question('4-70', 'single', 'B', 2),
                    new Question('4-71', 'single', 'A', 2),
                    new Question('4-72', 'single', 'B'),

                    // 301-350

                    new Question('4-73-1', 'single', 1, 3),
                    new Question('4-73-2', 'single', 2, 3),
                    new Question('4-74', 'single', 'A', 2),
                    new Question('4-75', 'single', 'B', 2),
                    new Question('4-76', 'single', 'A', 2),
                    new Question('4-77', 'single', 'D'),
                    new Question('4-78-1', 'single', 1),
                    new Question('4-78-2', 'single', 1),
                    new Question('4-79', 'single', 'C'),
                    new Question('4-80-1', 'single', 3, 3),
                    new Question('4-80-2', 'single', 1, 3),
                    new Question('4-82-1', 'single', 4),
                    new Question('4-82-2', 'single', 1),
                    new Question('4-83-1', 'single', 4),
                    new Question('4-83-2', 'single', 3),
                    new Question('4-84-1', 'single', 'Y', 2),
                    new Question('4-84-2', 'single', 'N', 2),
                    new Question('4-84-3', 'single', 'Y', 2),
                    new Question('4-85 (duplicate)', 'single', 'A'),
                    new Question('4-86-1', 'single', 3),
                    new Question('4-86-2', 'single', 2, 3),
                    new Question('4-87-1', 'single', 2, 5),
                    new Question('4-87-2', 'single', 2),
                    new Question('4-88', 'single', 'D'),
                    new Question('4-89 (duplicate)', 'single', 'A'),
                    new Question('4-90', 'single', 'D'),
                    new Question('4-91-1', 'single', 2, 3),
                    new Question('4-91-2', 'single', 3),
                    new Question('4-92-1', 'single', 4),
                    new Question('4-92-2', 'single', 4),
                    new Question('4-93-1', 'single', 'Y', 2),
                    new Question('4-93-2', 'single', 'Y', 2),
                    new Question('4-93-3', 'single', 'Y', 2),
                    new Question('4-94 (duplicate) ', 'single', 'B'),
                    new Question('4-95-1', 'single', 'Y', 2),
                    new Question('4-95-2', 'single', 'N', 2),
                    new Question('4-95-3', 'single', 'N', 2),
                    new Question('4-96', 'single', 'D'),
                    new Question('4-97-1', 'single', 3, 5),
                    new Question('4-97-2', 'single', 5, 5),
                    new Question('4-98', 'single', 'A'),
                    new Question('4-99', 'single', 'B'),
                    new Question('4-100', 'single', 'A'),
                    new Question('4-101', 'single', 'D'),
                    new Question('4-102-1', 'single', 'Y', 2),
                    new Question('4-102-2', 'single', 'N', 2),
                    new Question('4-102-3', 'single', 'Y', 2),
                    new Question('4-103', 'single', 'C'),
                    new Question('5-1-1', 'single', 3, 5),
                    new Question('5-1-2', 'single', 2, 5),
                    new Question('5-2', 'single', 'B'),
                    new Question('5-3-1', 'single', 1),
                    new Question('5-3-2', 'single', 1),
                    new Question('5-4', 'single', 'A'),
                    new Question('5-5-1', 'single', 2),
                    new Question('5-5-2', 'single', 2),
                    new Question('5-6-1', 'single', 2, 3),
                    new Question('5-6-2', 'single', 2, 3),
                    new Question('5-7', 'single', 'C'),
                    new Question('5-8', 'multiSelect', ['B', 'D', 'E'], 6),
                    new Question('5-9', 'single', 'A'),
                    new Question('5-10-1', 'single', 'Y', 2),
                    new Question('5-10-2', 'single', 'Y', 2),
                    new Question('5-10-3', 'single', 'N', 2),
                    new Question('5-11', 'single', 'D', 5),
                    new Question('5-12', 'orderSelect', [7, 2, 5], 7),
                    new Question('5-13-1', 'single', 'Y', 2),
                    new Question('5-13-2', 'single', 'Y', 2),
                    new Question('5-13-3', 'single', 'N', 2),
                    new Question('5-14', 'single', 'C'),
                    new Question('5-15', 'single', 'B'),
                    new Question('5-16', 'single', 'D'),
                    new Question('5-17', 'single', 'A', 2),
                    new Question('5-18', 'single', 'B', 2),
                    new Question('5-19', 'single', 'A', 2),
                    new Question('5-20-1', 'single', 3, 5),
                    new Question('5-20-2', 'single', 2, 5),

                    // 351-400

                    new Question('5-21', 'single', 'A'),
                    new Question('5-22', 'single', 'A'),
                    new Question('5-23', 'single', 'A'),
                    new Question('5-24', 'single', 'A'),
                    new Question('5-25-1', 'single', 'Y', 2),
                    new Question('5-25-2', 'single', 'N', 2),
                    new Question('5-25-3', 'single', 'N', 2),
                    new Question('5-26-1', 'single', '3'),
                    new Question('5-26-2', 'single', '3'),
                    new Question('5-27', 'orderSelect', [3, 2, 1, 5], 6),
                    new Question('5-28', 'single', 'C'),
                    new Question('5-29', 'single', 'D'),
                    new Question('5-30', 'multiSelect', ['A', 'C'], 5),
                    new Question('5-31-1', 'single', 4),
                    new Question('5-31-2', 'single', 1),
                    new Question('5-32', 'single', 3, 3),
                    new Question('5-32', 'single', 1, 3),
                    new Question('5-33', 'single', 'B', 2),
                    new Question('5-34', 'single', 'B', 2),
                    new Question('5-35', 'single', 'B', 2),
                    new Question('5-36', 'single', 'D'),
                    new Question('5-37', 'single', 'D'),
                    new Question('5-38-1', 'single', 'N', 2),
                    new Question('5-38-2', 'single', 'Y', 2),
                    new Question('5-38-3', 'single', 'Y', 2),
                    new Question('5-39', 'single', 'B'),
                    new Question('5-40', 'single', 'A', 3),
                    new Question('5-41', 'multiSelect', ['A', 'B', 'C'], 5),
                    new Question('5-42-1', 'single', 1),
                    new Question('5-42-2', 'single', 3),
                    new Question('5-43-1', 'single', 'Y', 2),
                    new Question('5-43-2', 'single', 'Y', 2),
                    new Question('5-43-3', 'single', 'N', 2),
                    new Question('5-44-1', 'single', 2, 3),
                    new Question('5-44-2', 'single', 1, 3),
                    new Question('5-45', 'single', 'B'),
                    new Question('5-46', 'single', 'B'),
                    new Question('5-47-1', 'single', 1, 5),
                    new Question('5-47-2', 'single', 1, 5),
                    new Question('5-48-1', 'single', 'Y', 2),
                    new Question('5-48-2', 'single', 'N', 2),
                    new Question('5-48-3', 'single', 'Y', 2),
                    new Question('5-49-1', 'single', 5, 5),
                    new Question('5-49-2', 'single', 5, 5),
                    new Question('5-50', 'single', 'B', 2),
                    new Question('5-51', 'single', 'B', 2),
                    new Question('5-52', 'single', 'A', 2),
                    new Question('5-53', 'single', 'A', 2),
                    new Question('5-54', 'single', 'C'),
                    new Question('5-55', 'single', 'B', 2),
                    new Question('5-56-1', 'single', 'N', 2),
                    new Question('5-56-2', 'single', 'Y', 2),
                    new Question('5-56-3', 'single', 'Y', 2),
                    new Question('5-57', 'single', 'B', 2),
                    new Question('5-58', 'single', 'B', 2),
                    new Question('5-59', 'single', 'B', 2),
                    new Question('5-60', 'single', 'B', 2),
                    new Question('5-61', 'single', 'B'),
                    new Question('5-62', 'single', 'A', 2),
                    new Question('5-63', 'single', 'A', 2),
                    new Question('5-64', 'single', 'C'),
                    new Question('5-65-1', 'single', 3),
                    new Question('5-65-2', 'single', 1),
                    new Question('5-66-1', 'single', 2),
                    new Question('5-66-2', 'single', 2),
                    new Question('5-66-3', 'single', 2),
                    new Question('5-67', 'single', 'D'),
                    new Question('5-68', 'single', 'B', 2),
                    new Question('5-69', 'multiSelect', ['C', 'E'], 6),
                    new Question('5-70-1', 'single', 'N', 2),
                    new Question('5-70-2', 'single', 'N', 2),
                    new Question('5-70-3', 'single', 'Y', 2),

                    // 401-450

                    new Question('5-71-1', 'single', 'Y', 2),
                    new Question('5-71-2', 'single', 'Y', 2),
                    new Question('5-71-3', 'single', 'Y', 2),
                    new Question('5-72-1', 'single', 1),
                    new Question('5-72-2', 'single', 1, 3),
                    new Question('5-73', 'single', 'A', 2),
                    new Question('5-74', 'single', 'B', 2),
                    new Question('5-75', 'single', 'B', 2),
                    new Question('5-76', 'orderSelect', [2, 3, 5], 5),
                    new Question('5-77', 'single', 'B', 2),
                    new Question('5-78', 'single', 'B', 2),
                    new Question('5-79', 'orderSelect', [4, 1, 2, 5], 5),
                    new Question('5-80-1', 'single', 'Y', 2),
                    new Question('5-80-2', 'single', 'N', 2),
                    new Question('5-80-3', 'single', 'Y', 2),
                    new Question('5-81', 'single', 'A'),
                    new Question('5-82', 'single', 'C'),
                    new Question('5-83-1', 'single', 2, 2),
                    new Question('5-83-2', 'single', 3, 5),
                    new Question('5-83-3', 'single', 3, 5),
                    new Question('5-83-4', 'single', 1, 3),
                    new Question('5-84', 'single', 'B', 2),
                    new Question('5-85', 'single', 'A'),
                    new Question('5-86', 'single', 'C'),
                    new Question('5-87', 'single', 'B'),
                    new Question('5-88-1', 'single', 1, 3),
                    new Question('5-88-2', 'single', 1, 3),
                    new Question('5-88-3', 'single', 1, 3),
                    new Question('5-89', 'single', 'D'),
                    new Question('5-90-1', 'single', 'N', 2),
                    new Question('5-90-2', 'single', 'Y', 2),
                    new Question('5-90-3', 'single', 'Y', 2),
                    new Question('5-91', 'multiSelect', ['D', 'E'], 5),
                    new Question('5-92', 'single', 'B', 3),
                    new Question('5-93-1', 'single', 'Y', 2),
                    new Question('5-93-2', 'single', 'N', 2),
                    new Question('5-93-3', 'single', 'Y', 2),
                    new Question('5-94-1', 'single', 'N', 2),
                    new Question('5-94-2', 'single', 'Y', 2),
                    new Question('5-94-3', 'single', 'Y', 2),
                    new Question('5-95', 'single', 'D'),
                    new Question('5-96-1', 'single', 'N', 2),
                    new Question('5-96-2', 'single', 'Y', 2),
                    new Question('5-96-3', 'single', 'Y', 2),
                    new Question('5-97-1', 'single', 'Y', 2),
                    new Question('5-97-2', 'single', 'N', 2),
                    new Question('5-97-3', 'single', 'Y', 2),
                    new Question('5-98', 'single', 'C', 3),
                    new Question('5-99', 'single', 'C'),
                    new Question('5-100', 'single', 'B'),
                    new Question('5-101', 'single', 'C'),
                    new Question('5-102', 'single', 'B'),
                    new Question('5-103', 'single', 'D'),
                    new Question('5-104', 'single', 'D'),
                    new Question('5-105', 'single', 'B'),
                    new Question('5-106', 'single', 'B'),
                    new Question('5-107-1', 'single', 1),
                    new Question('5-107-2', 'single', 1),
                    new Question('5-108', 'single', 'C'),
                    new Question('5-109', 'single', 'C'),
                    new Question('5-110', 'single', 'B'),
                    new Question('5-111-1', 'single', 'N', 2),
                    new Question('5-111-2', 'single', 'N', 2),
                    new Question('5-111-3', 'single', 'N', 2),
                    new Question('5-112', 'single', 'C'),
                    new Question('5-113', 'single', 'A'),
                    new Question('5-114', 'single', 'C'),
                    new Question('5-115', 'single', 'A', 5),
                    new Question('5-116', 'single', 'C'),
                    new Question('5-117', 'single', 'C'),
                    new Question('5-118', 'single', 'D'),
                    new Question('5-120', 'orderSelect', [6, 4, 1], 6),

                    // 451-500

                    new Question('5-122', 'single', 'A'),
                    new Question('5-125', 'single', 'D'),
                    new Question('5-131', 'single', 'C'),
                    new Question('5-132', 'single', 'B'),
                    new Question('5-135-1', 'single', 3, 7),
                    new Question('5-135-2', 'single', 2, 5),
                    new Question('5-136', 'single', 'A'),
                    new Question('5-137-1', 'single', 'N', 2),
                    new Question('5-137-2', 'single', 'Y', 2),
                    new Question('5-137-3', 'single', 'N', 2),
                    new Question('5-138-1', 'single', 'Y', 2),
                    new Question('5-138-2', 'single', 'N', 2),
                    new Question('5-138-3', 'single', 'Y', 2),
                    new Question('5-140', 'single', 'B'),
                    new Question('5-141-1', 'single', 'N', 2),
                    new Question('5-141-2', 'single', 'Y', 2),
                    new Question('5-141-3', 'single', 'N', 2),
                    new Question('5-142', 'orderSelect', [4, 3, 1, 2], 4),
                    new Question('5-144', 'single', 'B'),
                    new Question('5-146', 'single', 'D'),
                    new Question('5-147-1', 'single', 2),
                    new Question('5-147-2', 'single', 3, 3),
                    new Question('6-1', 'single', 'B'),
                    new Question('6-2', 'single', 'A'),
                    new Question('6-3', 'single', 'A'),
                    new Question('6-4-1', 'single', 4),
                    new Question('6-4-2', 'single', 3),
                    new Question('6-5', 'single', 'D'),
                    new Question('6-6-1', 'single', 2),
                    new Question('6-6-2', 'single', 2),
                    new Question('6-7-1', 'single', 4),
                    new Question('6-7-2', 'single', 4),
                    new Question('6-8', 'single', 'D'),
                    new Question('6-9-1', 'single', 'N', 2),
                    new Question('6-9-2', 'single', 'N', 2),
                    new Question('6-9-3', 'single', 'N', 2),
                    new Question('6-10', 'single', 'B'),
                    new Question('6-11-1', 'single', 'N', 2),
                    new Question('6-11-2', 'single', 'N', 2),
                    new Question('6-11-3', 'single', 'Y', 2),
                    new Question('6-12-1', 'single', 'N', 2),
                    new Question('6-12-2', 'single', 'N', 2),
                    new Question('6-12-3', 'single', 'Y', 2),
                    new Question('6-13', 'single', 'A', 2),
                    new Question('6-14', 'single', 'C'),
                    new Question('6-15-1', 'single', 2),
                    new Question('6-15-2', 'single', 1, 3),
                    new Question('6-16', 'orderSelect', [4, 2, 1, 7], 7),
                    new Question('6-17-1', 'single', 'C'),
                    new Question('6-17-2', 'single', 'A'),
                    new Question('6-18', 'single', 'D'),
                    new Question('6-19', 'single', 'D'),
                    new Question('6-20', 'single', 'A'),
                    new Question('6-21', 'single', 'B'),
                    new Question('6-22-1', 'single', 'A'),
                    new Question('6-22-2', 'single', 'D'),
                    new Question('6-23', 'single', 'D'),

                    // 501-567

                    new Question('6-24-1', 'single', 'A'),
                    new Question('6-24-2', 'single', 'B'),
                    new Question('6-25-1', 'single', 3, 5),
                    new Question('6-25-2', 'single', 1, 5),
                    new Question('6-26-1', 'single', 'N', 2),
                    new Question('6-26-2', 'single', 'Y', 2),
                    new Question('6-26-3', 'single', 'Y', 2),
                    new Question('6-27-1', 'single', 'Y', 2),
                    new Question('6-27-2', 'single', 'Y', 2),
                    new Question('6-27-3', 'single', 'N', 2),
                    new Question('6-28', 'single', 'C'),
                    new Question('6-29-1', 'single', 'N', 2),
                    new Question('6-29-2', 'single', 'N', 2),
                    new Question('6-29-3', 'single', 'N', 2),
                    new Question('6-30', 'single', 'D'),
                    new Question('6-31', 'orderSelect', [2, 5, 1], 5),
                    new Question('6-32', 'single', 'C'),
                    new Question('6-33', 'single', 'A'),
                    new Question('6-34', 'single', 'A'),
                    new Question('6-35', 'single', 'B'),
                    new Question('6-36-1', 'single', 4),
                    new Question('6-36-2', 'single', 2),
                    new Question('6-37 (duplicate)', 'single', 'A'),
                    new Question('6-38', 'single', 'B'),
                    new Question('6-39', 'single', 'B'),
                    new Question('6-40', 'single', 'D'),
                    new Question('6-41-1', 'single', 'Y', 2),
                    new Question('6-41-2', 'single', 'N', 2),
                    new Question('6-41-3', 'single', 'Y', 2),
                    new Question('6-42', 'single', 'B'),
                    new Question('6-43', 'single', 'A'),
                    new Question('6-44', 'single', 'C'),
                    new Question('6-45', 'single', 'A'),
                    new Question('6-46', 'multiSelect', ['B', 'D'], 5),
                    new Question('6-47', 'single', 'A'),
                    new Question('6-48-1', 'single', 'A'),
                    new Question('6-48-2', 'single', 'D'),
                    new Question('6-49-1', 'single', 'D'),
                    new Question('6-49-1', 'single', 'C'),
                    new Question('6-50-1', 'single', 'Y', 2),
                    new Question('6-50-2', 'single', 'N', 2),
                    new Question('6-50-3', 'single', 'N', 2),
                    new Question('6-51', 'single', 'C'),
                    new Question('6-52-1', 'single', 1),
                    new Question('6-52-2', 'single', 2),
                    new Question('6-53', 'single', 'D'),
                    new Question('6-54', 'single', 'A'),
                    new Question('6-55', 'single', 'B', 3),
                    new Question('6-56', 'single', 'D'),
                    new Question('6-57', 'single', 'B'),
                    new Question('6-58', 'single', 'A'),
                    new Question('6-59-1', 'single', 'Y', 2),
                    new Question('6-59-2', 'single', 'N', 2),
                    new Question('6-59-3', 'single', 'Y', 2),
                    new Question('6-60', 'multiSelect', ['A', 'E'], 5),
                    new Question('7-1', 'multiSelect', ['selected', 'yes']),
                    new Question('7-2', 'single', 'D'),
                    new Question('8-1', 'single', 3, 5),
                    new Question('8-1', 'single', 6, 6),
                    new Question('8-2', 'orderSelect', [1, 4, 3], 5),
                    new Question('9-1-1', 'single', 2),
                    new Question('9-1-2', 'single', 4),
                    new Question('9-2', 'single', 'A'),
                    new Question('10-1', 'single', 'D'),
                    new Question('10-2', 'single', 'B'),
                    new Question('10-3-1', 'single', 'Y', 2),
                    new Question('10-3-2', 'single', 'N', 2),
                    new Question('10-3-3', 'single', 'N', 2),
                    new Question('11-1-1', 'single', 2, 5),
                    new Question('11-1-2', 'single', 1, 5),
                    new Question('11-2-1', 'single', 4),
                    new Question('11-2-2', 'single', 2),
                    new Question('11-3', 'single', 'B'),
                    new Question('12', 'single', 'E', 5),
                    new Question('13-1', 'single', 'B'),
                    new Question('13-2-1', 'single', 3, 5),
                    new Question('13-2-2', 'single', 4),
                    new Question('14-1-1', 'single', 1, 3),
                    new Question('14-1-2', 'single', 3, 3),
                    new Question('14-2', 'single', 'A'),
                    new Question('15-1-1', 'single', 'Y', 2),
                    new Question('15-1-2', 'single', 'Y', 2),
                    new Question('15-1-3', 'single', 'N', 2),
                    new Question('15-3', 'single', 'C'),
                    new Question('15-4', 'single', 'D'),
                    new Question('16-1-1', 'single', 'C'),
                    new Question('16-1-2', 'single', 'C'),
                    new Question('16-2', 'single', 'B'),
                ].map((question, index) => {
                    if (needReview[question.name]) {
                        question.needReview = true;
                    }

                    return question;
                }),
            }
        },
        methods: {
            optionDisplay(option) {
                switch (option) {
                    case 1:
                        return 'A.';
                    case 2:
                        return 'B.';
                    case 3:
                        return 'C.';
                    case 4:
                        return 'D.';
                    case 5:
                        return 'E.';
                    case 6:
                        return 'F.';
                }

                return option;
            },
            convertToOptionAnswer(answer) {
                switch (answer) {
                    case 'a':
                    case 'A':
                    case 'Y':
                        return 1;
                    case 'b':
                    case 'B':
                    case 'N':
                        return 2;
                    case 'c':
                    case 'C':
                        return 3;
                    case 'd':
                    case 'D':
                        return 4;
                    case 'e':
                    case 'E':
                        return 5;
                }

                return answer;
            },
            needReviewChanged(question) {
                if (question.needReview) {
                    this.needReview[question.name] = true;
                } else {
                    delete this.needReview[question.name];
                }

                localStorage.setItem('az104needReview', JSON.stringify(this.needReview));
            },
            singleAnswerSelected(question) {
                let correctAnswer = this.convertToOptionAnswer(question.answer);
                if (correctAnswer == question.selectedAnswer) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            orderSelectAnswerSelected(question) {
                if (question.answer.length !== question.selectedAnswer.length) {
                    return;
                }

                if (JSON.stringify(question.answer) == JSON.stringify(question.selectedAnswer)) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            multiSelectAnswerSelected(question) {
                if (question.answer.length !== question.selectedAnswer.length) {
                    return;
                }

                if (JSON.stringify(question.answer.map(this.convertToOptionAnswer).slice().sort()) ==
                    JSON.stringify(question.selectedAnswer.slice().sort())) {
                    question.answerResult = 'correct';
                    toastr.success('correct');
                } else {
                    question.answerResult = 'wrong';
                    toastr.error('error');
                }
            },
            convertQuestionNameStypequestion(answerResult) {
                let color = null;
                switch (answerResult) {
                    case 'unselect':
                        color = 'black';
                        break;
                    case 'correct':
                        color = 'green';
                        break;
                    case 'wrong':
                        color = 'red';
                        break;
                }

                return 'color:' + color + ';weight:bold;font-size:20px;';
            }
        },
        watch: {},
        computed: {},
    })
</script>
</body>
</html>