<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js" integrity="sha512-TpgbLHXaTCAZ7ULhjopb1PveTz5Jx6KEQUtMfXhV0m0EArh+6O8ybZjjDN1Yug6oagN6iFm6EoMjuYSiFr0qXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/index.js" integrity="sha512-Ozz2AobGCQwQ48AzDE+PfFXkQZa0UD4ZCe5u8LuX6Ta6DPfLSFKVb47kalI4hPWxbPrlemubnlJCiNyUsP2Fnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
<div id="navbar-vue-app"
  class="{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}"
>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
  </a>
  <nav class="nav">
    <ul class="nav__list" id="navMenu">
      {{ $url := .RelPermalink }}
      {{ range $menuId, $menuItem := .Site.Menus.main }}
        {{ $active := eq $url $menuItem.URL }}
        {{ if $menuItem.HasChildren }}

          <li class="nav__list-item">
            <div class="optionswitch">
              <input class="optionswitch__picker" type="checkbox" id="{{ $menuId }}" hidden />

              {{ $labelClass := "optionswitch__label" }}
              {{ range $menuItem.Children }}
                {{ if eq $url .URL }}
                  {{ $labelClass = "optionswitch__label nav__link--active" }}
                {{ end }}

              {{ end }}


              <label class="{{ $labelClass }}" for="{{ $menuId }}"
                >{{ $menuItem.Name }} <i class="fa fa-angle-down" aria-hidden="true"></i
              ></label>

              <div class="optionswitch__triangle"></div>
              <ul class="optionswitch__list">
                {{ range $menuItem.Children }}
                  <li class="optionswitch__list-item">
                    <a
                      href="{{ .URL }}"
                      {{ if strings.HasPrefix .URL "http" }}
                        target="_blank" rel="noopener noreferrer"
                      {{ end }}
                      title="{{ .Title }}"
                      >{{ .Name }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </li>
        {{ else }}
          <li class="nav__list-item">
            <a
              {{ if $active }}
                class="nav__link--active"
              {{ end }}
              href="{{ .URL }}"
              {{ if strings.HasPrefix .URL "http" }}
                target="_blank" rel="noopener noreferrer"
              {{ end }}
              title="{{ .Title }}"
              >{{ $menuItem.Name }}</a
            >
          </li>
        {{ end }}

      {{ end }}
    </ul>
    <ul class="nav__list nav__list--end">
      {{ if and .IsTranslated .Site.IsMultiLingual }}
        <li class="nav__list-item">
          <div class="optionswitch">
            <input class="optionswitch__picker" type="checkbox" id="languagepicker" hidden />
            <label class="optionswitch__label" for="languagepicker"
              >{{ .Site.Language.LanguageName }} <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="optionswitch__triangle"></div>
            <ul class="optionswitch__list">
              {{ range $.Translations }}
                <li class="optionswitch__list-item">
                  <a href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}"
                    ><span
                      {{ if eq . $.Site.Language }}
                        class="active"
                      {{ end }}
                      aria-label="{{ i18n "ariaLanguage" }}{{ .Language.LanguageName }}"
                      >{{ .Language.LanguageName }}</span
                    >
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        </li>
      {{ end }}
      {{ if not .Site.Params.disableThemeSwitcher }}
        <li class="nav__list-item">
          <div class="themeswitch">
            <a title="Switch Theme">
              <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
            </a>
          </div>
        </li>
      {{ end }}
      <li class="nav__list-item">
        <el-button @click="testButtonClick">Test button</el-button>
      </li>
    </ul>
  </nav>
</div>

<script>
  new Vue({
    el: '#navbar-vue-app',
    data: function () {
      return {
        visible: false,
      };
    },
    mounted() {
      console.log('test console: vue 2 mounted');
    },
    methods: {
      testButtonClick() {
        console.log('test console: vue 2 button clicked');
        toastr.success('test toastr: vue 2 button clicked');
      },
    },
  });
</script>