{{ define "treeDir"}}
  hahaTree
{{ end }}

{{ define "main" }}
  <div
    class="post {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    <div class="post__content">
      {{ .Content }}
    </div>
  </div>

  {{ if .Params.mainSectionsTitle }}
    <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      <div class="post__content">
        <h2>{{ .Params.mainSectionsTitle }}</h2>
      </div>
    </div>
  {{ end }}

  {{ partial "treeDir.html" (dict "treeDir" "content/note/" "prefix" "" "folderPath" "note/") }}



{{ end }}
